<!doctype html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>EA Library</title>
    <link rel="shortcut icon" href="https://eahub.org/sites/eahub.org/media/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!--<script type="text/javascript" src=""></script>-->
    <script type ="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type ="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
 <body>
    <div class="header">
      <div class="container">
        <h3>
          The Effective Altruism Library
        </h3>
      </div>
    </div>
   <div class="container" id="frontsearch">
         <div class="dropdown" class="col-sm-6">
  <button class="button" type="button" data-toggle="dropdown"><img src="img/settings.png" width=50px"><!--Image creator: http://www.bogdanrosu.com/--></img>
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><input type="number" class="settings" placeholder="Radius (km)"/></li>
    <li id="available"><input type="text" class="settings"placeholder="Genre"/></li>
      <li><p>
        Available now
        </p> <input type="checkbox" class="checkbox"/></li>
        <!-- <li id="login"><input type="text" class="settings" placeholder="Log in here"/></li>
        <li><input type="password" class="settings" placeholder="Password"/></li> -->
  </ul>
            </div>
            <input type="search" class="login booksearch" id="city" placeholder="City..." autofocus ng-model="cityquery"/>
    <input type="search" class="login booksearch" id="author" placeholder="Author..." ng-model="authorquery"/>
      <input type="search"  class="col-sm-6 booksearch" placeholder="Title..." ng-model="bookquery"/>
      <a href="#" class="login button">Log in</a>
   </div>
</div>
    <div class="main" ng-controller="MainController">
      <div class="container">

        <h3>{{ title }}</h3>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="book in books | filter:{title:bookquery} | filter:{author:authorquery} | filter:{city:cityquery}" >
  <div class="thumbnail">
    <img ng-src="{{ book.cover }}">
    <p class="title">{{ book.title }}</p>
    <p class="meta">Author: {{ book.author }}</p>
    <p class="meta">Puplished: {{ book.pubdate | date }}</p>
    <p class="meta">Available in: {{ book.city }}</p>
    <p class="meta">Available from: {{ book.available | date }}</p>
    <div class="rating">
    <p class="loan">
      Ask for this book
    </p>
      <p class="bad" ng-click="plusOne($index)">+</p>
      <p class="good" ng-click="minusOne($index)">-</p>
      <p class="karma">{{ book.karma }}</p>
    </div>
  </div>
</div>

      </div>
    </div>
   <a href="#">
   <div id="registerbutton">
  Sign up!
   </div>
   </a>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/MainController.js"></script>
  </body>
</html>
